*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins', sans-serif;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 9, 0);
}
header{
    background-color: rgb(61, 17, 2);
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    
}
header h1{
    font-size: 40px;
    margin: 10px 0 10px 50px;
    color: white;
}
header nav{
    margin: 10px 0 10px 50px;
}
header nav ul li{
    list-style: none;

}
header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 7px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
}

 header nav ul{
    display: flex;
    gap: 23px;

}
header nav ul li a:hover{
    border-bottom: 1px solid white;
    border-radius: 5px;
    background-color: rgb(75, 22, 3);
}

main{
    margin-top: 9%;
    margin-left: 5%;
}
spam{
    color: rgb(255, 60, 0);
}
main h1{
    font-size: 50px;
}
main p{
    width: 400px;
    margin-top: 20px;
}

main ul li{
    list-style: none;
}
main ul{
    margin-top: 20px;
}
main ul li a{
    text-decoration: none;
    border: 1px solid white;
    padding: 3px 15px;
    border-radius: 20px;
}
