@media (max-width: 660px){
    img{
        display: none;
    }
    main{
        margin: 15% 0;
        text-align: center;
    }
    header h1{
        animation: bi 1s ease-in-out infinite;
    }
    main p{
        width: 100%;
    }
    header nav{
        margin: 20px 0;
    }

    @keyframes bi {
        0%{
            transform: translatey(-1px);
        }
        50%{
            transform: translatey(0px);
        }
        100%{
            transform: translatey(-1px);
        }
    }
}

@media (max-width: 420px){
    header nav {
        display: flex;
        margin: 20px 0;
        gap: 0;
    }
    header h1{
        margin: 0;
    }
}
@media (max-width: 368px){
    header{
        display: flex;
        flex-direction: column;
    }
    header h1{
        margin-top: 5px;
    }
    header nav ul{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}